body {
  background-color: #f3f6f3;
  font-family: 'Lato', sans-serif;
  color: #3C4A3B;

}

.container {
  width: 100%;
  max-width: 650px;
  margin: auto;
}

label {
  display: inline-block;
  width: 100%;
  color: #3C4A3B;
  padding: .5%;
}

input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
    border: 1.5px solid #DBB1B5;
    border-radius: 4px;
    background-color: transparent;

}

label {
    padding: 12px;
    display: inline-block;
    font-size: 1.15rem;
}

input[type=submit] {
    background-color: #DBB1B5;
    color: #3C4A3B;
    padding: 10px 30px;
    border-radius: 4px;
    display: block;
    margin-top: 2%;
    margin-left: 13%;

}

input[type=submit]:hover {
    background-color: transparent;
    border-color: #DBB1B5;
    border-width: 2px;
}

::placeholder {
  color: #A59E9A;
}

/*custom styles*/

.information {
  text-align: center;
  color: #f3f6f3;
  background-color: #540F24;
  width:100%;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border-radius: 1%;
  margin-top: 100px;
}

li {
  list-style-type: none;
}
#colorchange {
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #DBB1B5;
}
#clicker {
  border-radius: 10px;
  padding: 12px 40px;
  background-color: #DBB1B5;
}
